doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title TECiNOVA - Soluções Tecnológicas Inovativas

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/navbar-logo.svg', alt='...')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#services') Serviços
                        li.nav-item
                            a.nav-link(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link(href='#about') Sobre
                        li.nav-item
                            a.nav-link(href='#team') Time
                        li.nav-item
                            a.nav-link(href='#contact') Contato
        // Masthead
        header.masthead
            .container
                .masthead-subheading Prazer, nós somos a 
                .masthead-heading.text-monospace TECiNOVA 
                a.btn.btn-primary.btn-xl.text-uppercase(href='#about') Saiba mais

        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Nossos Serviços
                    h3.section-subheading.text-muted Seu hub de soluções tecnológicas inovativas.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-rocket.fa-stack-1x.fa-inverse
                        h4.my-3 Startups
                        p.text-muted
                            | Aqui nascem negócios inovadores porque transformamos ideias em projetos e estes em startups! Em parceria com o Sebrae e Rede Mais aceleramos um projeto de assistentes pessoais virtuais (chatbots) com inteligência artificial e atualmente temos uma startup de educação selecionada nacionalmente pela Anprotec através do programa Ideiaz – Powered by InovAtiva e acelerada pela Sai do Papel. Conheça também nosso projeto independente de checagem de fake news realmente inédito no Brasil. 


                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-laptop.fa-stack-1x.fa-inverse
                        h4.my-3 Transformação Digital
                        p.text-muted
                            | Marketing digital e vendas online foi a principal área de atuação desde nossa fundação em 2016. Estratégias de conteúdo para mídias digitais como o design responsivo de imagens e vídeos curtos além de lives commerce fez com que, supreendentemente, na black friday de 2019, nosso projeto de ofertas gerasse um fluxo de vendas superior a R$20.000,00 somente para a nossa antiga parceira Americanas. Atualmente soluções corporativas como o desenvolvimento de chatbots se destacam no catálogo.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-lock.fa-stack-1x.fa-inverse
                        h4.my-3 Segurança & Privacidade
                        p.text-muted
                            | Segurança, privacidade e software livre definitivamente fazem parte do nosso DNA. Desde a faculdade (2010) quando nosso CEO comprou seu primeiro notebook, optou por usar uma distro linux. Uma prima então relutou inutilmente: "Só porque muitos de nós usa Windows,você tinha que ser do contra?" Gosta e acredita tão fortemente na liberdade, que recomenda para familiares, clientes e amigos em forma de ferramentas e assessorias mobile de privacidade, por exemplo. 

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Portfolio
                    h3.section-subheading.text-muted Amostra simples do que podemos fazer por você e ou pelo seu negócio.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 1
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/1.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Coach Cristão
                                .portfolio-caption-subheading.text-muted Chatbot
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 2
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/2.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Paróquia S.P.A
                                .portfolio-caption-subheading.text-muted Design Gráfico
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 3
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/3.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Léria
                                .portfolio-caption-subheading.text-muted PWA
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        // Portfolio item 4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal4')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/4.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Multiclientes
                                .portfolio-caption-subheading.text-muted Pacotes de Imagens
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        // Portfolio item 5
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal5')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/5.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Atual Sistema de Comunicação
                                .portfolio-caption-subheading.text-muted Design Gráfico
                    .col-lg-4.col-sm-6
                        // Portfolio item 6
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal6')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/6.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Pessoa Física
                                .portfolio-caption-subheading.text-muted Identidade Corporativa

        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Como tudo começou...
                    h3.section-subheading.text-muted Entenda o porquê do nosso CEO & Founder Roberto Alves ter criado a TECiNOVA.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 (Agosto 2014)
                                h4.subheading Realização de um sonho
                            .timeline-body
                                p.text-muted
                                    | Nossa linha do tempo começa com um marco: A conclusão da sua graduação em tecnologia na Universidade Católica do Salvador (UCSal).
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 (Setembro 2014)
                                h4.subheading Inadequação
                            .timeline-body
                                p.text-muted
                                    | Nesta época ele trabalhava como técnico em informática no Senai Cimatec em Salvador porém, sentia-se infeliz e inadequado ali e no mercado de trabalho como um todo, como se ainda não existisse seu lugar. Mesmo assim, continuou procurando, insistindo, estudando sobre negócios porque via no empreendedorismo a oportunidade de criar algo que não atropelasse seus valores e princípios. Decidiu então fazer um curso de inovação mas não sabia onde e quanto custaria. Felizmente, em pouco tempo se viu na sala de aula sendo mais bem pago que o atual trabalho para estudar este tema. Ele tinha feito a inscrição para o concurso do ALI do Sebrae/CNPq e sem estudar fez a prova e passou. Este programa de inovação tecnológica, teve uma capacitação de 30 dias e ao final existia uma seleção que o deixou esperando como reserva pois não existia vagas suficientes na cidade onde morava...
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 (Abril 2015)
                                h4.subheading "Não tenhas medo pois Eu estarei contigo onde fores"
                            .timeline-body
                                p.text-muted
                                    | Como tinha pedido demissão e não tinha sido selecionado, foi então em busca de novos desafios. Inesperadamente, recebeu uma ligação do coordenador estadual do programa ALI propondo sua atuação numa cidade distante: Teixeira de Freitas, onde nunca estivera antes e por isso não conhecia ninguém. Depois de passar aquela semana santa com a família, pediu a benção aos pais e viajou. No mês de outubro de 2015, já finalizando o trabalho, ganha uma placa de reconhecimento por destaque em vendas de ações sebraetec. Como alguém que até então tinha aversão a vendas consegue tal feito? Nasce então a ideia de vender pela internet.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 (Outubro 2016)
                                h4.subheading "Agora vai e pratica o que aprendeste até aqui!"
                            .timeline-body
                                p.text-muted
                                    | Com o término do programa em 31 de outubro 2016, começamos a atender alguns clientes, fazer parcerias, testar algumas hipóteses. Certa noite enquanto dormia ouve-se uma voz sugerindo o nome e o porquê de um dos projetos: TECiNOVA. Junção da palavra tecnologia com inovação. Esta imagem que ilustra foi o nosso primeiro trabalho já que começamos fortemente com marketing digital para empresas.
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | E a história
                                br
                                | continua...
                                br
                                | Faça parte!

        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Nosso time
                    h3.section-subheading.text-muted É o que nos diferencia na multidão.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='...')
                            h4 Roberto Alves
                            p.text-muted CEO & Founder
                            a.btn.btn-dark.btn-social.mx-2(href='https://roberto.tecinovaservicos.com.br/')
                                i.fa.fa-globe
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='...')
                            h4
                            p.text-muted Quer sua foto aqui? Contate-nos que pode dar match! 
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                            h4 Valéria Bispo
                            p.text-muted Diretora Comercial
                            a.btn.btn-dark.btn-social.mx-2(href='https://wa.me/+5573991284699') 
                                i.fab.fa-whatsapp
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | Nossa rede de parceiros e terceirizados têm como valores principais honestidade, transparência, moral, ética e prezam sempre por negociações ganha-ganha. 
        // Clients
        div.py-5
            .container
                .row.align-items-center
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/microsoft.svg', alt='...')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/google.svg', alt='...')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/facebook.svg', alt='...')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/ibm.svg', alt='...')

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-monospace 
                    h3.section-subheading.text-muted contato@tecinovaservicos.com.br
               
        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; TECiNOVA 2016-2022
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='https://t.me/tecinovaservicos')
                            i.fab.fa-telegram
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.linkedin.com/company/tecinovaservicos')
                            i.fab.fa-linkedin-in
                        a.btn.btn-dark.btn-social.mx-2(href='https://wa.me/+5573988093967')
                            i.fab.fa-whatsapp
                    .col-lg-4.text-lg-end
                    
                        a.link-dark.text-decoration-none.me-3(href='https://telegra.ph/Termos-de-Uso-12-15') Termos de Uso
                        a.link-dark.text-decoration-none(href='https://telegra.ph/Pol%C3%ADtica-de-Privacidade-12-15') Política de Privacidade

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
