//
// Colors
//

// Override Bootstrap color variables

$yellow: #3d5c9d;

// Override Bootstrap state colors variables

$primary: $yellow;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
